.container-creditcard
    background-color black
    width 300px
    height 180px
    border-radius 20px
    display flex
    flex-direction column
    justify-content flex-end
    position relative
    z-index 10
    
button
    margin 40px 100px
    border-radius 10px
    border 0
    background linear-gradient(to right ,blue, pink)
    padding 10px 30px
    color white
button:hover
    color #020288