.main
    transform translateX(40%) translateY(50%)

@media (min-width: 320px)
    .main
        transform translateX(0%) translateY(50%)

@media (min-width: 480px)
    .main
        transform translateX(10%) translateY(50%)
@media (min-width: 560px)
    .main
        transform translateX(20%) translateY(50%)
@media (min-width: 768px)
    .main
        transform translateX(30%) translateY(50%)
@media (min-width: 992px)
    .main
        transform translateX(40%) translateY(50%)
