.creditcard-date
    width: 30px
    color white
    display flex
    align-items center
    span 
        margin 30px 10px 30px 30px
        font-size 10pt
    form
        display flex
        align-items center
        span 
            margin 5px
            font-size 20pt
.date
    width 30px
    height 25px 
    border-radius 3px
    border 1px solid black


